.hover-text {
  position: relative;
  cursor: pointer;
}

.hover-value {
  display: none;
  margin-left: 8px;
  color: #9b9b9b;
  font-weight: 500;
}

.hover-text:hover .hover-value {
  display: inline;
}

.one-side-td {
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}
.dailytask-ticker {
  width: 20px;
  height: 20px;
  border: 2px solid #9b9b9b;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.dailytask-td {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
